<h1>Marvel Character Details:</h1>

<div *ngIf="character != null">
    <ul>
        <span><img src="{{character.imageurl}}" width="300" height="300"></span>
        <table>
            <tr>
                <td><h2>{{character.name}}</h2></td>
            </tr>
            <tr><td [width]="300">{{character.description}}</td></tr>
        </table>

        <br>

        <table>
            <tr>
                <td><a [routerLink]="[ '/character', character.id, 'comment' ]"><button type="button">Comment</button></a></td>
            </tr>
            <tr>
                <td><a [routerLink]="[ '/' ]"><button type="button">Back to search</button></a></td>
            </tr>
        </table>
    </ul>
</div>